body {
  font-family: Helvetica, sans-serif;
  color: #383b4e;
  font-size: 16px;
  line-height: 1.2;
  background: #fafafa;
  margin: 0 0;
  padding: 0 0;
  border: 0 0; }

h1 {
  color: #383b4e;
  font-size: 30px;
  margin: 0 0;
  padding: 0 0;
  line-height: 1.5; }

h2 {
  color: #383b4e;
  font-size: 25px;
  margin: 0 0;
  padding: 30px 0 10px 0;
  line-height: 1; }

h3 {
  color: #8c8e9c;
  font-weight: 100;
  font-size: 20px; }

nav {
  position: fixed;
  z-index: 3;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  min-width: 800px;
  background-color: #383b4e;
  height: 100px; }
  nav a {
    margin: 0 2px;
    position: relative;
    top: 40px;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 100;
    border: 1px solid #dddddd;
    color: #dddddd;
    background-color: #383b4e;
    transition: color .2s, background-color .2s;
    -webkit-transition: color .2s, background-color .2s; }
  nav a:hover {
    color: #383b4e;
    border: 1px solid #dddddd;
    background-color: #dddddd; }
  nav ul {
    text-align: left;
    min-width: 600px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
    border: 0; }
    nav ul li {
      display: inline;
      margin: 0;
      padding: 0;
      border: 0; }

.refresh {
  border: 1px solid #f9861b;
  color: #f9861b;
  background-color: #383b4e;
  transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s; }

.refresh:hover {
  color: #383b4e;
  border: 1px solid #f9861b;
  background-color: #f9861b; }

#copyButton {
  position: absolute;
  top: 31px;
  right: 0;
  margin-right: 40px; }

#builderArea {
  background-color: #ffffff;
  z-index: 2;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0px 0 100px 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
  #builderArea #userGreet {
    text-align: center;
    padding-top: 120px; }
    #builderArea #userGreet h1 {
      font-size: 35px; }

#nameSection {
  position: relative;
  top: -100px; }

#pricingSection {
  position: relative;
  top: -130px; }

#vehicleSection {
  position: relative;
  top: -130px; }

#vehicleReset {
  border: 1px solid #f9861b;
  text-decoration: none;
  margin: none;
  position: relative;
  top: 25px;
  left: 225px;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #f9861b;
  background-color: #fafafa;
  transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s; }

#vehicleReset:hover {
  color: #fafafa;
  border: 1px solid #f9861b;
  background-color: #f9861b; }

#accessoriesSection {
  position: relative;
  top: -130px; }

#packagesSection {
  position: relative;
  top: -130px; }

#nameSectionContent input {
  margin: 20px 0 25px 0; }

#vehicleSectionContent {
  padding: 20px 10px; }

#availabilty input {
  display: inline; }

#availabilty ul {
  width: 99%;
  margin: 0 auto;
  padding: 0; }

#availabilty li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px; }

.sectionContainer {
  text-align: center;
  width: 550px;
  border: 1px solid #dddddd;
  border-radius: 7px;
  padding: 20px 10px;
  margin: 30px auto; }
  .sectionContainer input {
    padding: 0;
    margin: 0;
    font-size: 20px; }

#yearSelect {
  width: 99%;
  margin: 20px auto; }

.yearButton {
  padding: 7px 35px;
  font-size: 20px;
  border: 1px solid #383b4e;
  color: #383b4e;
  background-color: #fafafa;
  transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s; }

.yearButton:hover {
  color: #fafafa;
  background-color: #383b4e;
  cursor: pointer; }

.vehicleButton {
  display: block;
  width: 99%;
  margin: 0  auto;
  text-decoration: none;
  padding: 7px 35px;
  font-size: 20px;
  border: 0;
  color: #383b4e;
  background-color: inherit; }

.vehicleButton:hover {
  text-decoration: underline;
  cursor: pointer; }

#accessoriesContainer {
  padding: 20px 0; }

.vehicleClass {
  width: 500px;
  font-size: 18px;
  display: block;
  cursor: pointer;
  position: relative;
  left: 0px;
  padding: 7px 0;
  text-align: left; }
  .vehicleClass input {
    width: 60px;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: 10px; }

#packagesContainer {
  padding: 20px 0; }

hr {
  background-color: #dddddd; }

.packagesHeadings:hover {
  cursor: pointer;
  text-decoration: underline; }
